/app/config/parameters.yml
/app/DoctrineMigrations/*
/build/
/.idea/
/phpunit.xml
/.php_cs.cache
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/ext-app/ext
/web/ext-app/build/development
/web/ext-app/build/temp
/web/ext-app/sass/example/bootstrap.js
/src/AppBundle/Entity/*.php~
/docs/~$*
.DS_Store
/web/ext-app/sass/example/bootstrap.jsonp
/web/ext-app/sass/example/bootstrap.json
/web/ext-app/modern.jsonp
/web/ext-app/classic.json
/web/ext-app/classic.jsonp
/web/ext-app/modern.json
/web/ext-app/bootstrap.css
/web/ext-app/bootstrap.js
src/AppBundle/DataFixtures/ORM/AppFixtures.php
web/ext-app/bootstrap.js
web/ext-app/bootstrap.css
web/ext-app/bootstrap.css
